/Component.class
/ComponentMethodData.class
/ComponentObject.class
/GlobalComponent.class
/TriggerComponent$Trigger.class
/TriggerComponent.class
/TriggerOnceComponent$Trigger.class
/TriggerOnceComponent.class
/TriggerPlayerOnceComponent.class
